type proc_pci_map, proc_type, fs_type;
type sysfs_board, sysfs_type, fs_type;
type tlk_data_file, file_type, data_file_type, core_data_file_type;
type vendor_bt_exec, exec_type, vendor_file_type, file_type;
