allow system_app vendor_file:dir r_dir_perms;
r_dir_file(system_app, sysfs_class_extcon)
r_dir_file(system_app, sysfs_device_platform)
r_dir_file(system_app, sysfs_device_type)

get_prop(system_app, hwc_prop)

allow system_app wificond:binder call;
